
# Get these from Facebook Developer App
FACEBOOK_APPLICATION_ID = "ID_GOES_HERE"
FACEBOOK_APPLICATION_SECRET = "SECRET_KEY_GOES HERE"
REDIRECT_URL = "http://localhost:8888"
COOKIE_SECRET = "Your cookie secret here. Randomly generate one."