<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
</head>
<body>
    <h1>Location: {{ location["name"] }}</h1>
    Category: {{ location["category"] }}
    City: {{ location["location"]["city"] }}
    Country: {{ location["location"]["country"] }}
    Power: {{ location["checkins"] }}
    
    <p>
        This is where you would show check-in information, power, etc
    </p>
    <div id="action">
        Extort
        Arm
        Upgrade
        Attack
    </div>
</body>